*{
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
  background-color: #F3F4F4;
}

.first{
  padding: 30px 70px;
  color: #ACACAC;
}
.card-title
{
  position: absolute;
 width: 80%;
 height: 100%;
 top: 10%;
 left: 23%;

  padding-top: 20px;
  color:#0097A9;
}
.card-text
{

   text-align: center;
   color: black;
  padding-top: 60px;
}
.card
{
  display:inline-block;
  margin-bottom:20px;
  border-radius: 9px;
  box-shadow: 2px 2px 10px #D2D2D2;
}
.fill
{
  padding: 0px;
  height: 202px;
 width: 100px;
 background-color: #555;
  background:#0097A9;
    border-radius: 9px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    opacity: 0.6;
}
.sec
{
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
   justify-content: center;
   top:calc(50% - 100px);
   padding-top: 230px;

   padding-bottom: 200px;
}
.circle {
  position: absolute;
  display:inline-block;
  height: 50px;
  width: 50px;
  top: 40%;
  left: 19%;
  box-shadow: 5px 5px 10px #D2D2D2;
  background-color: white;
  border-radius: 50%;
}
.h3
{
  text-align: center;

}
.first
{
  text-decoration: underline;
  text-decoration-thickness: 0.2px;
}
.icon{
  position: absolute;
  display:inline-block;
  top: 49%;
  left: 23%;
  color:#0097A9;
  opacity: 0.8;
  size: 5px;
  padding-right: 2px;
  margin-right: 2px;
}

.h5
{
  font-family: 'Noto Sans';
}
