
button {
    padding: 8px 15px;
    background-color: blue;
    border: none;
    border-radius: 3px;
    color: white;
}

input {
    margin-left: 5px;
    padding: 8px 15px;
    background-color: #e4e2e4;
    border: none;
    color: black;
    box-shadow: 0px 4px 5px 0px rgba(153,153,153,1);
}

select {
    width: 100%;
    border: none;
    padding: 5px;
    background-color: #fefcfe;
}

table {
    width: 100%;
    margin: auto;
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
    border-spacing: 3px;
    border-left: 3px solid blue;
}



tr {
    padding: 20px;
    box-shadow: 0px 2px #ccc;
}

th {
    padding: 15px;;
}

td {
    padding: 30px 40px;;
}

.box {
    margin: 5px;
}


.container {
    background-color: seagreen;
}

.heading {
    background-color: #e8e6e8;
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
}


.left {
    display: inline-block;
    width: 25vw;
    background-color: #f4f2f4;
}

.right {
    display: inline-block;
    position: relative;
    padding: 10px;
    /* margin: auto;; */
    max-width: 80vw;
    width: 100%;
    background-color: #f4f2f4;
}

.selector {
    width: 80%;
    margin: auto;
    margin: 20px;
}

.table-container {
    display: table;
    margin: 15px;
    background-color: white;
    box-shadow: 3px 5px 36px 0px #555;
}

.top { 
    z-index: 9;
    background-color: #fffeff;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-evenly;
    box-shadow: 0px 9px 35px 5px rgba(153,153,153,1);
}


.wrapper {
    display: inline-flex;
    background-color: #f4f2f4;
    width: 100%;
}
