
button {
    padding: 8px 15px;
    background-color: #0099ff;
    border: none;
    border-radius: 3px;
    color: white;
    margin: auto;
}

input {
    margin-left: 5px;
    padding: 8px 15px;
    background-color: #e4e2e4;
    border: none;
    color: black;
    box-shadow: 0px 4px 5px 0px rgba(153,153,153,1);

}



input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: black;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #6cc0e5;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}


table {
    width: 100%;
    margin: auto;
    table-layout: fixed;
    border-collapse: separate;
    text-align: center;
    border-spacing: 3px;
    /* border: 3px solid #0099ff; */
}

tr {
    padding: 20px;
    box-shadow: 0px 2px #ccc;
}

th {
    padding: 15px;;
}

td {
    padding: 30px 40px;

}

tr:hover > .col-left {
    border-left: 3px solid #0099ff;
}

.box {
    margin: 5px;
}

.container {
    background-color: seagreen;
}


.dropbtn {
    border: none;
    cursor: pointer;
    margin: auto;
    /* position: relative; */
    width: 80%;
    padding: 10px 0 10px 0;
    background-color: #fefcfe;
    display: block;
    color: #333;
    font-size: 16px;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #e5e3e5;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
    /* background-color: lightcoral; */
    width: 100%;
    margin-bottom: 20px;
  }
  
  .dropdown-content {
    display: none;
    /* background-color: purple; */
    overflow: auto;
    /* border: 1px solid #ddd; */
    z-index: 1;
    margin: auto;
    position: relative;
    width: 80%;
    padding: 5px;
  }
  

  .dropdown-content .dropdown-cell {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    background-color: white;
  }

  .dropdown .dropdown-cell:hover {
      background-color: #e5e3e5;
}
.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.heading {
    background-color: #e8e6e8;
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.left {
    display: inline-block;
    width: 25vw;
    background-color: #f4f2f4;
    /* background-color: lawngreen; */
}

.left-heading {
    font-family: 'Roboto Slab', serif;
    font-size: 1.2em;
    margin: 15px;
    padding: 5px 15px;
}

.right {
    display: inline-block;
    position: relative;
    padding: 10px;
    max-width: 80vw;
    width: 100%;
    background-color: #f4f2f4;
}


.selector {
    margin: 15px;
    position: relative;
    padding: 15px;
}

select::-ms-expand {
    display: none;
}

.selector:after {
    content: '>';
    color: #333;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 25px;
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
}

.selector select {
    width: 100%;
    border: none;
    padding: 5px;
    background-color: #fefcfe;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    float: right;
    color: #333;

}


  


.table-container {
    display: fixed;
    margin: 15px;
    max-height: 70vh;
    background-color: white;
    box-shadow: 3px 5px 36px 0px #555;
    overflow-y: scroll;
}

.top { 
    background-color: #fffeff;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-evenly;
    box-shadow: 0px 9px 35px 5px rgba(153,153,153,1);
}

.wrapper {
    display: inline-flex;
    background-color: #f4f2f4;
    width: 100%;
}

.modal {
    display: none; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    color: Blue;
  }
  
  .modal-body {padding: 10px 16px;}
  
  .popup-footer {
    display: block;
    padding: 2px 16px;
    width: 100%;
    position: absolute;
    bottom: 20px;
    margin-top: auto;
  }

  .popup-footer > button {
      display: flex;
      width: 50%;
        justify-content: center;    
    }

.m-header-content {
    width: fit-content;
    margin: auto;
}


.sub-heading-pop {
    width: 90%;
    margin: auto;
    padding: 20px 10px;
    margin-bottom: 4%;
    color: Blue;

}

.card-popup {

    width: 90%;
    margin: auto;
    padding: 20px 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 2%;

}

.cart-bar {
    width: 100%;
    display: inline-flex;
    background-color: #e5e3e5;
}

.cart-btn {
    display: inline-block;
    right: 2%;
}

/* .hide { display: none; } */

.show {display: block;}

